@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fondo y base pro (sin depender de plugins extra) */
:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
